{% extends 'base.html' %}
{% block conteudo %}
<body>
   <div class="form">
    <div class="title">Cadastro de Usuário</div>
    <div class="subtitle">Vamos criar sua conta!</div>

    <form action="cadastrarUsuario" method="POST">
        <div class="input-container ic1">
            <input placeholder="" type="text" class="input" id="cpf" name="cpf" required>
            <div class="cut"></div>
            <label class="iLabel" for="cpf">CPF</label>
        </div>

        <div class="input-container ic2">
            <input placeholder="" type="text" class="input" id="nome" name="nome" required>
            <div class="cut"></div>
            <label class="iLabel" for="nome">Nome</label>
        </div>

        <div class="input-container ic2">
            <input placeholder="" type="text" class="input" id="telefone" name="telefone" required>
            <div class="cut"></div>
            <label class="iLabel" for="telefone">Telefone</label>
        </div>

        <div class="input-container ic2">
            <input placeholder="" type="text" class="input" id="endereco" name="endereco" required>
            <div class="cut cut-short"></div>
            <label class="iLabel" for="endereco">Endereço</label>
        </div>

        <button class="submit" type="submit">Cadastrar</button>
    </form>
</div>

</body>

{% endblock %}