{% extends 'base.html' %}
{% block conteudo %}
  <h1>Todos os contatos</h1>

 <a href="https://www.facebook.com/">
    <img src="static/facebook.png" alt="Instagram" width="70px" height="70px">
    <button>facebook</button>
</a>
<br><br>
  <a href="https://www.instagram.com/">
    <img src="static/instagram.png" alt="Instagram" width="70px" height="70px">
    <button>Instagram</button>
</a>
<br><br>
 <a href="https://www.x.com/">
    <img src="static/x.avif" alt="Instagram" width="70px" height="70px">
    <button>Twitter</button>
</a>
<br><br>
{% endblock %}